// Fonts
$fontRegular: 'OpenSansRegular';
$fontBold: 'OpenSansBold';

// Colors
$light: #fff;
$bright: #ecf0f2;
$gray100: #eee;
$gray200: #ccc;
$gray300: #aaa;
$dark: #666;
$darkness: #000;
$primary: #00ba91;
$primary-light: #0ed1a6;
$secondary: #006eb4;
$like: #17b424;
$dislike: #fc2717;
$warning: #ffd600;

// Fonts
$font-xs: 1.2rem;
$font-sm: 1.4rem;
$font-md: 2rem;
$font-lg: 2.5rem;
$font-xl: 4rem;
$font-2xl: 5rem;


// Media
$device-xl: 1280px;
$device-lg: 1024px;
$device-md: 768px;
$device-sm: 576px;