.btn {
  &--light {
    @extend %btn;
    @include btnBx($light, $primary);
  }

  &--primary {
    @extend %btn;
    @include btnBx($primary, $gray100, $primary-light, $light);
    &:hover {
      box-shadow: 3px 3px 10px $gray200;
    }
  }

  &_bx {
    width: 100%;
    text-align: center;
  }

  &--sm {
    width: 17rem;
    font-size: $font-xs;
  }
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  &:hover {
    background-color: $primary;
    box-shadow: none;
  }
}
